h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}
  
h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
  
h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
  
h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
  
h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
  
h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
  
p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #BFBFBF;
}
  
h1, h2, h3, h4, p {
    margin: 0;
}


.header{
    padding-left: 40px;
    padding-right: 40px;
}

.hr{
    width: 1358px;
    border: 1px solid #000000;
    margin-bottom: 37px;
}
.h1-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #000000;
    padding-bottom: 21px;
    padding-top: 39px;
}

#profile{
    padding-left: 77px;
    padding-right: 77px;
}

.card-left{
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 22px;
    padding-bottom: 48px;
    width: 826px;
    height: 700px;
}

.h2-profile{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #000000;
}

.card-right{
    width: 421px;
    height: 259px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 22px;
}

.upload{
    padding-top: 60px;
    
}

.btn-1{
    width: 184px;
    height: 40px;   
    background: #AD8B73;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 55px;
    margin-left: 0;
}

.btn-1 input[type="file"]{
    cursor: pointer;
    margin-left: -13px;
    margin-top: -35px;
    transform: scale(1,1);
    width: 185px;
    opacity: 0;
}

.btn-1:hover{
    background: #7C684A;
    color: #FFFFFF;
}

.btn-2{
    margin-top: 54px;
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #7C684A;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #7C684A;
}

.btn-2:hover{
    background: #DBDBDB;
    color: #7C684A;
}
.h5-pi{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 21px;
    color: #BFBFBF;
    padding-left: 0px;
    padding-top: 20px;
}

.h6-form{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.form-label{
    width: 514px;
    height: 30px;
}

.form-control{
    width: 364px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-3{
    margin-top: 52px;
    width: 184px;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background: #378C1A;
    border-radius: 10px;
}

.btn-3:hover{
    background: #1D6404;
    color: #FFFFFF;
}

.h4-ps{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #BFBFBF;
    padding-top: 14px;
    padding-bottom: 48px;
}

.btn-4{
    width: 344px;
    height: 45px;
    background: #F7CC74;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.btn-4:hover{
    background: #CDA552;
    color: #FFFFFF;
}

.col-sm-12{
    text-align: center;
}

.btn-5{
    margin-top: 70px;
    margin-bottom: 82px;
    width: 344px;
    height: 45px;
    background: #EF1327;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.btn-5:hover{
    background-color: #A00D1A;
    color: #FFFFFF;
}

.modal-dialog {
    display: flex;
}
  
.modal-content {
    background: #FFFFFF;
    border-radius: 15px;
    width: 536px;
    height: 285px;
}

.modal-body{
    text-align: center;
}

.h2-modal{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #25282B;
}