h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
  }
  
  h2 {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  }
  
  h3 {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  }
  
  h4 {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  }
  
  h5 {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  }
  
  h6 {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #BFBFBF;
  }
  
  h1, h2, h3, h4, p {
    margin: 0;
  }


.forgot{
    position: absolute;
    font-weight: bold;
}

.form-label{
    width: 514px;
    height: 30px;
  }

.btn-4{
    background-color: #CEAB93;
    position: absolute;
    width: 200px;
    height: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 10px;
    border-radius: 10px;
}

.btn-4:hover{
  background-color: #E0DDAA;
}

.img-reset-1{
  position: absolute;
  width: 605px;
  height: 642px;
  left: 776px;
  top: 90px;
}